@{
    ViewData["Title"] = "Home Page";
}
 <link rel="stylesheet" href="/css/StyleSheet.css" />
<div class="containerLuis" id="tabla2">













    <script src="~/js/JavaScript.js" type="text/javascript" charset="utf-8"></script>




</div>
